<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rock, paper, scissors - angular</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body ng-app="my-app" ng-controller="MainController">
    <h1>rock, paper, or scissors?</h1>
    <p>carolyn has challenged you to a game.<br>rock beats scissors, scissors beats paper, and paper beats rock.</p>

    <div class="scoreboard">
    <h2>scoreboard</h2>
    <table>
        <tr>
          <td>{{playerScore}}</td>
          <td>{{computerScore}}</td>
        </tr>
        <tr>
          <th>you</th>
          <th>carolyn</th>
        </tr>
    </table>
  </div>


    <p>you start! what do you pick?</p>

    <button ng-click="playRock()">rock</button>
    <button ng-click="playPaper()">paper</button>
    <button ng-click="playScissors()">scissors</button>

    <div id="message" ng-show="message"> {{message}} </div>

  </body>
</html>
